/*
	custom styling
*/

.wrapper {	
	min-height:100%;
	position: relative;
}


.content {
	padding-bottom: 100px; /*height of the footer*/	
}


.footer {
	width:100%;
	position:absolute;
	bottom:1px;
	height: 1px;
	
}